<mdc-drawer drawer="modal" #drawer class="app-drawer">
  <mdc-drawer-header>
    <h3 mdcDrawerTitle class="header-title">Pollinator Facts</h3>
  </mdc-drawer-header>
  <mdc-drawer-content>
    <mdc-list>
      <mdc-list-item routerLink="/" routerLinkActive="mdc-list-item--activated" [routerLinkActiveOptions]="{exact:
        true}" (click)="drawer.open = !drawer.open">
        <mdc-icon mdcListItemGraphic >home</mdc-icon>Home
      </mdc-list-item>
      <mdc-list-item routerLink="/about" routerLinkActive="mdc-list-item--activated" (click)="drawer.open = !drawer.open">
        <mdc-icon mdcListItemGraphic >info</mdc-icon>About
      </mdc-list-item>
    </mdc-list>
  </mdc-drawer-content>
</mdc-drawer>
<div class="mdc-drawer-scrim"></div>

<mdc-top-app-bar fixed #topbar [scrollTarget]="mainContent">
  <mdc-top-app-bar-row>
    <mdc-top-app-bar-section align="start" title="Pollinator Facts">
      <button mdcTopAppBarNavIcon (click)="drawer.open = !drawer.open">
        <mdc-icon>menu</mdc-icon>
      </button>
    </mdc-top-app-bar-section>
    <mdc-top-app-bar-section align="end">
      <!--<button mdcTopAppBarActionItem routerLink="/about"><mdc-icon>help_outline</mdc-icon></button>-->
    </mdc-top-app-bar-section>
  </mdc-top-app-bar-row>
</mdc-top-app-bar>

<div #mainContent class="main-content">
  <router-outlet></router-outlet>
</div>
